<h1>Search Results</h1>

<% if @posts %>
  <ul class="search_results">
    <% @posts.each do |post| %>
      <li>
        <h3>
          <%= link_to post.try(:highlight).try(:title) ?
            post.highlight.title[0].html_safe : post.title, "#" %>
        </h3>
        <% if post.try(:highlight).try(:content) %>
          <% post.highlight.content.each do |snippet| %>
            <p><%= snippet.html_safe %>...</p>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Your search did not match any documents.</p>
<% end %>